extends layout.pug
block content
    if !user
        h1 All Books for non auth user
    else
        h1 All Books for auth'ed user
    if message && message.length
        div.alert.alert-danger= message
    if books
        each book in books
            div.book
                h1= book.title
                h2= book.author
                p= "Owner : [" + book.owner + "]"
                p= "Genre : " + book.genre
                if user
                    p= book.wanted
                    if book.wanted
                        button.btn.btn-success.disabled.wanted(data-id=book._id) Wanted
                    else
                        button.btn.btn-success.not-wanted(data-id=book._id) Want this?
                else
                    button.btn.btn-success(data-id=book._id) Want this?
                a.btn.btn-warning(href="/book/" + book._id) Details
    else
        p No books to show for now

block scripts
    script(src="index.js")