extends layout.pug
block content
    h2 All books
    if message && message.length
        div.alert.alert-danger= message
    if books
        each book in books
            .book.well.col-xs-4
                h1= book.title
                h2= book.author
                p= "Owner : [" + book.owner + "]"
                p= "Genre : " + book.genre
                if user && book.owner.equals(user._id)
                    button.btn.disabled Yours
                else if user
                    if book.wanted
                        button.btn.btn-success.disabled.wanted(data-book=book._id) Wanted
                    else
                        button.btn.btn-success.not-wanted(data-book=book._id) Want this?
                else
                    button.btn.btn-success(data-id=book._id) Want this? - Login
                a.btn.btn-warning(href="/books/" + book._id) Details
    else
        p No books to show for now

block scripts
    script(src="index.js")
